<body>
<meta name="viewport" content="width=device-width, initial scale=1.0">
<div class="animation-area">
    <ul class="box-area">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="homeCard">
        <mat-card class="mat-elevation-z8">
            <mat-card-title class="title">
                Bem Vindo à Wesla ✌️
            </mat-card-title>
            <a class="description">
                Aplicação para cadastro de veículos, nota-se que você terá um botão de adicionar 
                um carro/veículo e um de depreciar o valor de todos eles em 2%, também será possível depreciar apenas um desde que o valor desse seja superior a R$10.000.
                Os veículos com ano menor de 2000 não deverão ser aceitos.
                Além disso será possível adicionar, deletar e editar veículos.
                Houve também a tentativa de responsividade (utilização da aplicação de acordo com tamanho da tela).
            </a>
        </mat-card>
    </div>
</div>

</body>
