form {
    display: flex;
    flex-direction: column;
    width: 290px;
    margin-left: 41%;
}

.deleteButton {
    margin-left: 41%;
}

button {
    margin-top: 20px;
    margin-left: 18px
}


mat-card-title {
    margin-left: 590px;
}

mat-card {
    margin-top: 50px;
}