/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.red {
    color: red;
}

.v-middle {
    vertical-align: middle;
}

.msg-success {
    background-color: #28a745;
    color: white;
}

.msg-error {
    background-color: red;
    color: white;
}

.container {
    background-image:
    repeating-linear-gradient(
        -45deg,
        #e0ffff 0px,
        #e0ffff 10px,
        #800080 10px,
        #800080 20px
    )
}